# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientist
* Create a single row table
* Evaluate arithmetic expressions in Python

## Author
Marlen Qui√±ones

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JavaScript
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Pytorch
4. TensorFlow
5. Matplotlib

| *Data Science Tools* |
|--------------------- |
| Jupyter Notebook |
| RStudio          |
| Zeppelin Notebooks |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [13]:
200//60
#This will convert 200 minutes to hours by diving by 60

3